/nodered
/import

# scripts exclusions
/scripts/lib
/scripts/logs
/scripts/setup.sh

*.passwd
*.log
log.*
secret*

*.db
state.json

# home assistant exclusions
homeassistant/data/backups
homeassistant/data/blueprints
homeassistant/data/.[^/]*
homeassistant/data/custom_components
homeassistant/data/deps
homeassistant/data/image
homeassistant/data/tts
homeassistant/data/www

home-assistant*
.HA_VERSION